/* Navigation styles */
.logo{
    background: white;
    height: 230px;
    background-image: url("../images/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav{display: flex;
background-color: purple;
padding: 20px;
}

.left, .center, .right{height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right{width: 25%;
}

.center{width: 50%;
}

.center a{color: white;
padding: 10px;
font-size: 18px;
text-decoration: none;
font-family: arial;
}

.right button{background-color: hotpink;
    color: black;
font-size: 16px;
padding: 15px;
width: 50%;
}

.left button{background-color: lightpink;
    color: black;
font-size: 16px;
padding: 15px;
width: 50%;
}

/* Column styles */
.column{display: flex;
height: 1200px;
width: 800px;
flex-direction: column;
margin: 0 auto;
}

.meal1, .meal2, .meal3{height: 100%;
width: 100%;
display: flex;
align-items: flex-end;
margin-bottom: 20px;
background-repeat: no-repeat;
background-position: center;
}

.meal1{margin-top: 20px;
background-image: url("../images/waffle-recipe-square.jpeg");
}

.meal2{background-image: url("../images/file-20191030-154716-1wc4d64.avif");
}

.meal3{background-image: url("../images/Piña-Colada-Culinary-Hill-1200x800-1.webp");
}

.text{
width: 100%;
padding: 20px 40px;
color: white;
}

.text p{color: rgba(255, 255, 255,0.7);
font-family: arial, helvetica, sans-serif;
}

.text h1{font-family: 'Press Start 2P', cursive;
}

/* Footer Styles */
.footer{display: flex;
    background-color: purple;
    padding: 20px;
    justify-content: center;
}

.fb, .tw, .ig{display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    font-family: arial;
}

.fb{color: lightblue;
}

.tw{color: yellow;
}

.ig{color: red;
}